.pos{
    padding-top: 120px;
    padding-bottom: 120px;
}

.cta{
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    border-top: 2px solid #ffffff29;
    border-radius: 1000px;
    align-items: center;
    padding: 12px 24px;
    font-size: 18px;
    display: flex;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}


.cta.yellow{
    background-color: #faf7e1;
    border-radius: 32px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1180px;
    padding: 80px 64px;
    display: flex;
    margin: 0 auto;
}

.cta.yellow h4{
    font-family: 'aquire bold', sans-serif;
    font-size: 40px;
    color: black;
    text-align: center;
    letter-spacing: -1px;
    margin-bottom: 40px;
    line-height: 60px;
}

.last.cta{
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    background: black;
    color: #faf7e1 !important;
    border-radius: 1000px;
    padding: 14px 28px;
    text-decoration: none;
}


.white-wrapper {
    margin: 0;
    background-color: #faf7e1;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    overflow: hidden;
    margin-top: 350px;
}

@media screen and (max-width: 991px){
    .cta.yellow h4 {
        font-size: 32px;
        line-height: 36px;
    }
    .last.cta{
        font-size: 16px;
        padding: 14px 24px;
    }
}


@media screen and (max-width: 767px){
    .cta.yellow h4 {
        font-size: 29px;
        line-height: 36px;
    }
    .last.cta{
        font-size: 14px;
        padding: 12px 22px;
    }
}

@media screen and (max-width: 440px){
    .cta.yellow h4 {
        font-size: 24px;
        line-height: 36px;
    }
    .last.cta{
        font-size: 13px;
        padding: 10px 20px;
    }
}