.first-body{
    padding-top: 7.5rem;
    padding-bottom: 8rem;
}

.heros{
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    flex-direction: column;
    max-width: 840px;
    display: flex;
    position: relative;
}

.hero_1{
    flex: 0 auto;
    width: auto;
    font-size: 40px;
    color: floralwhite !important;
    font-family: 'Aquire bold', sans-serif;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 990px;
    text-align: center;
    line-height: 62px;
    letter-spacing: -1px;
    opacity: 0;
    transform: translateY(30px);
    animation: fadeInSlideUp 1s ease-in-out forwards;
}

.hero_2{
    font-family: 'inter', sans-serif;
    letter-spacing: 0.5px;
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 0;
    color: #faf7e1;
    text-align: center;
    opacity: 0;
    transform: translateY(30px);
    animation: fadeInSlideUp 1s ease-in-out forwards;
}

@keyframes fadeInSlideUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.booking {
    position: relative;
    width: 100%;
    max-width: 1000px;
    padding-top: 45%; 
    margin: 0 auto;  
    border-radius: 15px; 
    overflow: hidden;
}

.booking iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 15px;
}

.contact-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 840px;
    margin: 0 auto;
    grid-column-gap: 24px;
    grid-row-gap: 10px;
    position: relative;
}

.contact-us h2{
    flex: 0 auto;
    width: auto;
    font-size: 42px;
    color: floralwhite !important;
    font-family: 'Aquire bold', sans-serif;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 990px;
    text-align: center;
    line-height: 62px;
    letter-spacing: -1px;
    opacity: 0;
    transform: translateY(30px);
    animation: fadeInSlideUp 1s ease-in-out forwards;
}

.contact-us h3{
    font-family: 'inter', sans-serif;
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 0;
    color: #faf7e1;
    text-align: center;
    opacity: 0;
    transform: translateY(30px);
    animation: fadeInSlideUp 1s ease-in-out forwards;
}

.contact-button {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    background: floralwhite;
    color: black !important;
    border-radius: 1000px;
    padding: 13px 23px;
    display: inline-block;
    text-decoration: none;
    margin-top: 20px;
    opacity: 0;
    transform: translateY(30px);
    animation: fadeInSlideUp 1.2s ease-out forwards;
    width: auto;
    max-width: 200px;
}

.contact-button:hover {
    padding-right: 23px;
    background-color: #f5c645;
}

.contact-button svg {
    width: 0;
    opacity: 0;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-button:hover svg{
    width: 13px;
    opacity: 1;
    transform: none;
}
    
@media screen and (max-width: 991px) {
    .hero_1{
        font-size: 40px;
    }
    .hero_2{
        font-size: 13px;
    }
    .contact-us h2{
        font-size: 35px;
    }
}
    
@media screen and (max-width: 767px) {
    .hero_1{
        font-size: 32px;
        line-height: 40px;
        width: 100%;
    }
    .hero_2{
        font-size: 13px;
    }

}

@media screen and (max-width: 440px) {
    .hero_1{
        font-size: 23px;
        line-height: 35px;
    }
    .hero_2{
        font-size: 9px;
    }
    .contact-us h3{
        font-size: 11px;
    }
    iframe{
        width: 1200;
        height: 1100;
    }
    .contact-button{
        padding: 8px 17px;
    }
}
