.hero h1{
    font-family: 'Inter', sans-serif;
    font-size: 51px;
    font-weight: bold;
    letter-spacing: -0.8px;
    line-height: 1.2;
    color: floralwhite;
    margin-top: 130px;
    margin-bottom: 20px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    opacity: 0;
    transform: translateY(30px);
    animation: fadeInSlideUp 1s ease-in-out forwards;
}

.hero h2{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 480;
    letter-spacing: -0.8px;
    margin-top: 20px;
    margin-bottom: 40px;
    color: #ADADAD;
    line-height: 1.5;
    max-width: 660px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    opacity: 0;
    transform: translateY(30px);
    animation: fadeInSlideUp 1s ease-in-out forwards;
}

@keyframes fadeInSlideUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.booking {
    position: relative;
    width: 100%;
    max-width: 1000px;
    padding-top: 45%; 
    margin: 0 auto;  
    border-radius: 15px; 
    overflow: hidden;
}

.booking iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 15px;
    opacity: 0;
    transform: translateY(30px);
    animation: fadeInSlideUp 1s ease-in-out forwards;
}

.contact-us h2{
    font-family: 'Inter', sans-serif;
    font-size: 45px;
    font-weight: bold;
    letter-spacing: -0.8px;
    line-height: 1.2;
    color: floralwhite;
    margin-top: 200px;
    margin-bottom: 20px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    opacity: 0;
    transform: translateY(30px);
    animation: fadeInSlideUp 1s ease-in-out forwards;
}

.contact-us h3{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 480;
    letter-spacing: -0.8px;
    margin-top: 20px;
    margin-bottom: 40px;
    color: #ADADAD;
    line-height: 1.5;
    max-width: 660px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    opacity: 0;
    transform: translateY(30px);
    animation: fadeInSlideUp 1s ease-in-out forwards;
}

.contact-us a{
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    position: absolute;
    right: 700px;
    padding: 10px 20px;
    background-color: floralwhite;
    color: #000;
    text-decoration: none;
    border-radius: 20px;
    border: 1px solid #000;
    cursor: pointer;
    opacity: 0;
    transform: translateY(30px);
    animation: fadeInSlideUp 1s ease-out forwards;
}



footer {
    color: #fff;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width: 1200px;
}

.footer-logo {
    text-align: center;
    margin-right: 40px;
}

.footer-logo p {
    margin: 5px 0;
}

.Squarify-Section {
    margin-right: 40px;
}

.Squarify-Section h4 {
    margin-bottom: 10px;
    color: #888;
}

.Squarify-Section ul {
    list-style: none;
    padding: 0;
}

.Squarify-Section ul li {
    margin-bottom: 8px;
}

.Squarify-Section ul li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
}

.Squarify-Section ul li a:hover {
    color: #aaa;
}

.footer-socials {
    margin-top: 20px;
}

.footer-socials a {
    margin: 0 10px;
    text-decoration: none;
}

.footer-socials img {
    width: 24px;
    height: 24px;
}

@media screen and (max-width: 600px){



}
