* {
  box-sizing: border-box;
}

*::selection{
  background-color: brown;
}

.first-body{
  padding-top: 7.5rem;
  padding-bottom: 3rem;
}

.body-text{
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.w-inline-block{
  max-width: 100%;
}

body {
  background-color: #121212;
  line-height: 150%;
  margin: 0;
}

header{
  position: sticky;
  top: 0;
  z-index: 9999;
  backdrop-filter: blur(1em);
  -webkit-backdrop-filter: blur(1em);
  height: auto;
}

.desktop-menu {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 16px 48px;
  display: flex;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.2);
}

.desktop-button{
  justify-content: flex-end;
  align-items: flex-end;
  width: 165px;
  display: flex;
  position: relative;
  right: 50px;
}

.btn{
  max-width: 100%;
  display: inline-block;
}

.get-started-desktop:hover{
  padding-right: 20px;
  background-color: #f5c645;
}

.get-started-desktop svg {
    width: 0;
    opacity: 0;
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.get-started-desktop:hover svg{
    width: 12px;
    opacity: 1;
    transform: none;
}

.get-started-desktop {
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  background: #faf7e1;
  color: black !important;
  border-radius: 1000px;
  padding: 10px 20px;
  text-decoration: none;
  position: relative;
  margin-left: auto;
  margin-right: 0;
}

.mobile-Logo{
  display: none;
  width: 130px;
  cursor: pointer;
  z-index: 2;
  position: absolute;
  left: 20px;
  top: 17px;
}

.Desktop-Logo{
  width: 165px;
  z-index: 20;
  position: relative;
  left: 25px;
}

.squarify-Logo-size{
  line-height: 120%;
}

img{
  max-width: 100%;
  display: inline-block;
}

.container {
  display: none;
  width: 40px;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  z-index: 2;
  position: absolute;
  right: 20px;
  top: 20px;
}

.nav-menu {
  background-color: #141414;
  border: 2px solid #2d2d30;
  border-radius: 100px;
  padding: 9px;
  line-height: 120%;
}

nav{
  display: block;
}

.w-nav-menu{
  float: right;
  position: relative;
}

.nav-link{
  border-radius: 50px;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 500;
}

.nav-link:hover{
  background-color: #1a1a1a;
  color: #faf7e1;
}

.w-nav-link{
  font-family: 'inter bold', sans-serif;
  vertical-align: top;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  position: relative;
  color: #faf7e1;
  font-size: 16.5px;
  text-decoration: none;
}

.line {
  width: 100%;
  height: 4px;
  background-color: floralwhite;
  transition: all 0.3s ease;
}

.container.open .line1 {
  transform: rotate(47deg) translate(7px, 7px);
}

.container.open .line2 {
  opacity: 0;
}

.container.open .line3 {
  transform: rotate(-47deg) translate(7px, -7px);
}

.mobile-menu {
  display: none;
  flex-direction: column;
  position: relative;
  top: 44px;
  backdrop-filter: blur(1em);
  -webkit-backdrop-filter: blur(1em);
  width: 100%;
  z-index: 1;
}

.mobile-menu.open {
  display: flex;
}

.mobile-menu a {
  color: #faf7e1;
  border-radius: 50px;
  padding: 6px 12px;
  font-size: 16px;
  font-weight: 850;
  font-family: 'inter', sans-serif;
  text-decoration: none;
  z-index: 999;
  margin-bottom: 8px;
}

.mobile-menu a:hover{
  background-color: #1a1a1a;
}

.get-started {
  background: #faf7e1;
  color: black !important;
  display: flex;
  margin-top: 0;
  justify-content: center;
}

.get-started:hover{
  background-color: #f5c645 !important;
}

.footer {
  font-family: 'inter', sans-serif;
  display: flex;
  flex-flow: row wrap;
  padding: 30px 30px 20px 30px;
  margin-top: 100px;
  color: #2f2f2f;
  background-color: #121212;
  border-top: 0.5px solid rgba(255, 255, 255, 0.2);
}

.footer > * {
  flex:  1 100%;
}

.footer__addr {
  margin-right: 1.25em;
  margin-bottom: 2em;
}

.nav__title {
  font-weight: 500;
  font-size: 15px;
  color: #898b8f;
}

.footer address {
  font-style: normal;
  color: #faf7e1;
}

.footer__btn {
  display: flex;
  align-items: center;
  text-decoration: underline !important;
  height: 36px;
  max-width: max-content;
  color: #f9f6e0;
  margin: 0.6em 0;
  font-size: 20px;
  transition: color .3s;
}

.footer__btn:hover{
  color: #f4c644;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 2em;
}

.footer a {
  text-decoration: none;
}

.footer__nav {
  display: flex;
  flex-flow: row wrap;
}

.footer__nav > * {
  flex: 1 50%;
  margin-right: 1.25em;
}

.nav__ul a {
  color: #faf7e1;
}

.legal {
  display: flex;
  flex-wrap: wrap;
  color: #999;
}

@media screen and (max-width: 991px) {
  .mobile-Logo{
    display: block;
  }
  .container {
    display: flex;
  }
  .desktop-menu {
    display: none;
  }
  .legal{
    margin-bottom: 0;
  }
}

@media screen and (min-width: 767px) {
  .header{
    height: auto;
    backdrop-filter: blur(1em);
    -webkit-backdrop-filter: blur(1em);
  }
  .footer__nav > * {
    flex: 1;
  }
  
  .footer__addr {
    flex: 1 0px;
  }
  
  .footer__nav {
    flex: 2 0px;
  }

  .social.footer__logo{
    width: 10px;
    cursor: pointer;
    z-index: 2;
  }
  .legal{
    margin-bottom: 0;
  }
  
}

@media screen and (min-width: 440px) {
  .header{
    height: auto;
    backdrop-filter: blur(1em);
    -webkit-backdrop-filter: blur(1em);
  }
  .footer__logo{
    width: 300px;
    cursor: pointer;
    z-index: 2;
  }
  .legal{
    margin-bottom: 0;
    margin-left: auto;
  }
}
