.heros{
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    flex-direction: column;
    max-width: 840px;
    display: flex;
    margin-bottom: 100px;
}

.hero_1{
    flex: 0 auto;
    width: auto;
    font-size: 42px;
    color: #faf7e1 !important;
    font-family: 'aquire bold', sans-serif;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 990px;
    text-align: center;
    line-height: 62px;
    opacity: 0;
    transform: translateY(30px);
    animation: fadeInSlideUp 1s ease-in-out forwards;
}

.hero_2{
    font-family: 'inter', sans-serif;
    font-size: 21px;
    margin-top: 0;
    margin-bottom: 0;
    color: aliceblue;
    text-align: center;
    opacity: 0;
    transform: translateY(30px);
    animation: fadeInSlideUp 1s ease-in-out forwards;
}

@keyframes fadeInSlideUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.hero-buttons{
    grid-column-gap: 13px;
    grid-row-gap: 13px;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    display: flex;
}

.cta{
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    border-top: 2px solid #ffffff29;
    border-radius: 1000px;
    align-items: center;
    padding: 12px 24px;
    font-size: 18px;
    display: flex;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}

.cta.specs{
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    background: #faf7e1;
    color: black !important;
    border-radius: 1000px;
    padding: 10px 20px;
    text-decoration: none;
    opacity: 0;
    transform: translateY(30px);
    animation: fadeInSlideUp 1.2s ease-out forwards;
}

.cta.specs:hover {
    padding-right: 20px;
    background-color: #f5c645;
}

.cta.specs svg {
    width: 0;
    opacity: 0;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.cta.specs:hover svg{
    width: 12px;
    opacity: 1;
    transform: none;
}

.cta.empty{
    box-shadow: none;
    background-image: none;
    color: #faf7e1;
    opacity: 0;
    transform: translateY(30px);
    animation: fadeInSlideUp 1.2s ease-out forwards;
}

.cta.empty:hover{
    background-color: #1a1a1a;
    border-radius: 1000px;
}

.bg-video>video {
    object-fit: cover;
    z-index: -100;
    background-position: 50%;
    background-size: cover;
    width: 100%;
    height: 100%;
    margin: auto;
    position: absolute;
    inset: -100%;
}

.video-embed {
    background-color: #121212;
    width: 100%;
    display: block;
    position: relative;
    overflow: hidden;
}

.main {
    z-index: 1;
    width: 100%;
    height: 100%;
    display: block;
}

.bg-video {
    color: #fff;
    height: 500px;
    position: relative;
    overflow: hidden;
}

video{
    vertical-align: baseline;
    display: inline-block;
}

.tag{
    font-family: "Inter", sans-serif;
    isolation: isolate;
    overflow: hidden;
    align-items: center;
    color: white;
    backdrop-filter: blur(6px);
    border-radius: 35px;
    box-shadow: inset 0 -7px 11px #a48fff1f;
    display: flex;
    margin: 0 auto 12px;
    padding: 6px 14px 6px 15px;
    margin-top: 150px;
    position: relative;
    width: max-content;
}

.tag.feature{
    box-shadow: inset 5px 7px 10px 10px #1d1e21;
}

.glow-effect {
    width: 360px;
    height: 200px;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.21) 70%, transparent 100%);
    position: absolute;
    z-index: -1;
    filter: blur(100px);
    animation: glow 3s infinite alternate;
    top: 60%;
    left: 38%;
    transform: translate(-50%, -50%);
}

@keyframes glow{
    0% {
      transform: scale(1);
      opacity: 0.7;
    }
    100% {
      transform: scale(1.2);
      opacity: 1;
    }
}

.hero-2 {
    position: relative;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 50px;
}

.hero-2.prices{
    padding-top: 0 !important;
}

.hero-2 h2{
    font-family: 'Aquire bold', sans-serif;
    font-size: 43px;
    font-weight: bold;
    line-height: 1.2;
    color: #faf7e1;
    max-width: 800px;
    margin-top: 35px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    opacity: 0;
    transform: translateY(30px);
    animation: fadeInSlideUp 1.2s ease-in-out forwards;
}

.hero-2 h3{
    font-family: 'Audiowide', sans-serif;
    font-size: 23px;
    letter-spacing: 1.3px;
    color: aliceblue;
    margin-top: 28px;
    margin-bottom: 20px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    opacity: 0;
    transform: translateY(30px);
    animation: fadeInSlideUp 1.2s ease-in-out forwards;
}


.hero-2 p{
    font-family: 'inter', sans-serif;
    font-size: 20px;
    font-weight: bolder;
    color: aliceblue;
    margin-top: 100px;
    margin-bottom: 20px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    opacity: 0;
    transform: translateY(30px);
    animation: fadeInSlideUp 1.2s ease-in-out forwards;
}


.ctas{
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    border-top: 2px solid #ffffff29;
    border-radius: 1000px;
    align-items: center;
    padding: 12px 24px;
    font-size: 18px;
    display: flex;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}

.ctas.dribble{
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    background: #f5c645;
    color: black !important;
    border-radius: 1000px;
    padding: 10px 20px;
    text-decoration: none;
    z-index: 100;
}

._23_container.relative {
    position: relative;
}

._23_container {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 48px;
    padding-right: 48px;
}

.col {
    flex-direction: column;
    align-items: flex-start;
    display: flex;
}

.col.gap__72 {
    grid-column-gap: 72px;
    grid-row-gap: 72px
}

.col.gap__72.middle {
    justify-content: center;
    align-items: center
}

.benefits_wrap {
    z-index: 1;
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    flex-direction: column;
    width: 100%;
    display: flex;
    position: relative;
}

.benefits_row {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    display: flex;
}

.product_build {
    object-fit: cover;
}

.red_card {
    background-image: linear-gradient(#1d1e21, #1d1e21 85%, #1d1e21a6);
    border: 1px solid #3c3c3c;
    border-radius: 16px;
    flex: 1;
    padding: 24px;
    box-shadow: 0 0 0 6px #00000014, 0 2px 16px -4px #0000000a;
}

.red_card.horizonal {
    background-image: url(https://cdn.prod.website-files.com/63c26552be9ea599a179aeed/657eea8f641e7744cd1958a3_Shadow.png),url(https://cdn.prod.website-files.com/63c26552be9ea599a179aeed/657ee8961eee1bef268e27ab_low_detail.png),url(https://cdn.prod.website-files.com/63c26552be9ea599a179aeed/657ee8651776d77198b5b4d3_lightbeam.png),url(https://cdn.prod.website-files.com/63c26552be9ea599a179aeed/657ef6661650bb250f37ef35_team_graphics.png),url(https://cdn.prod.website-files.com/63c26552be9ea599a179aeed/657ee90e42a3aaa035289a4c_top_detial.png);
    background-position: 100% 100%,0 100%,0 0,100%,100% 0,100%,0 0;
    background-repeat: no-repeat,no-repeat,no-repeat,no-repeat,no-repeat,no-repeat,repeat;
    background-size: contain,contain,cover,auto 100%,cover,cover,auto;
    flex-direction: row;
    align-items: center;
    height: auto;
    padding: 24px;
    display: flex;
    box-shadow: 0 0 0 6px #00000014,0 2px 16px -4px #0000000a;
}

.red_card.horizonal.team {
    background-image: url(https://cdn.prod.website-files.com/63c26552be9ea599a179aeed/657eea8f641e7744cd1958a3_Shadow.png),url(https://cdn.prod.website-files.com/63c26552be9ea599a179aeed/657ee8961eee1bef268e27ab_low_detail.png),url(https://cdn.prod.website-files.com/63c26552be9ea599a179aeed/657ee8651776d77198b5b4d3_lightbeam.png),url(https://cdn.prod.website-files.com/63c26552be9ea599a179aeed/657ee82b3aa3e927796aff63_program_graphic.svg);
    background-position: 100% 100%,0 100%,0 0,100%,100% 0,100%,0 0;
    background-repeat: no-repeat,no-repeat,no-repeat,no-repeat,no-repeat,no-repeat,repeat;
    background-size: contain,contain,cover,auto,cover,cover,auto
}

.red_card.horizonal.vertical {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    background-image: url(https://cdn.prod.website-files.com/63c26552be9ea599a179aeed/657eea8f641e7744cd1958a3_Shadow.png),url(https://cdn.prod.website-files.com/63c26552be9ea599a179aeed/657ee8961eee1bef268e27ab_low_detail.png),url(https://cdn.prod.website-files.com/63c26552be9ea599a179aeed/657d7a6d3e44cc3168e9df1e_stars.svg),url(https://cdn.prod.website-files.com/63c26552be9ea599a179aeed/657ee90e42a3aaa035289a4c_top_detial.png);
    background-position: 100% 100%,0 100%,100% 100%,100% 0,0 0;
    background-repeat: no-repeat,no-repeat,no-repeat,no-repeat,repeat;
    background-size: contain,contain,cover,contain,auto;
    border-radius: 16px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    padding: 0;
    display: flex;
}

.red_card.horizonal.vertical.interface {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.red_card.horizonal.vertical.ai_workflow {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    position: relative;
    bottom: 56px;
}

.red_card.horizonal.vertical.data {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.red_card.horizonal.roadmap {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    background-image: url(https://cdn.prod.website-files.com/63c26552be9ea599a179aeed/657eea8f641e7744cd1958a3_Shadow.png),url(https://cdn.prod.website-files.com/63c26552be9ea599a179aeed/657ee8961eee1bef268e27ab_low_detail.png),url(https://cdn.prod.website-files.com/63c26552be9ea599a179aeed/657ee90e42a3aaa035289a4c_top_detial.png);
    background-position: 100% 100%,0 100%,100% 0,0 0;
    background-repeat: no-repeat,no-repeat,no-repeat,repeat;
    background-size: contain,contain,cover,auto;
    border-radius: 8px;
    flex-direction: column;
    align-self: stretch;
    align-items: flex-start;
}

.red_card.horizonal.interface {
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.red_card.vertical {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
    display: flex;
}

.graphic {
    flex: 1;
    justify-content: center;
    width: 100%;
    display: flex;
    position: relative;
}

.graphic.mobile {
    display: none;
}

.graphic._172 {
    justify-content: flex-start;
    align-items: stretch;
    min-height: 172px;
    overflow: hidden;
}

img {
    max-width: 100%;
    display: inline-block;
}

img {
    vertical-align: middle;
    max-width: 100%;
    display: inline-block;
}

img {
    border: 0;
}

.benefits_info-card {
    grid-column-gap: 4px;
    grid-row-gap: 4px;
    color: aliceblue;
    font-family: 'Audiowide', sans-serif;
    flex-direction: column;
    align-items: flex-start;
    max-width: 190px;
    line-height: 140%;
    display: flex;
}

.benefits_info-card.large {
    color: aliceblue;
    font-family: 'Audiowide', sans-serif;
    max-width: 220px;
    line-height: 140%;
}

.benefits_info-card.notion {
    width: 100%;
    max-width: none;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 24px;
}

.benefits_header {
    color: aliceblue;
    font-family: 'aquire bold', sans-serif;
    font-size: 22px;
    font-weight: 550;
    line-height: 32px;
}

@media screen and (max-width: 991px) {
    .benefits_wrap,.benefits_row {
        flex-wrap: wrap;
    }
    .red_card.horizonal.team {
        flex: 0 auto;
        width: 100%;
    }
    .red_card.horizonal.vertical.ai_workflow {
        bottom: 0;
    }
}


@media screen and (max-width: 767px) {
    .red_card.horizonal {
        background-image: url(https://cdn.prod.website-files.com/63c26552be9ea599a179aeed/657eea8f641e7744cd1958a3_Shadow.png),url(https://cdn.prod.website-files.com/63c26552be9ea599a179aeed/657ee8961eee1bef268e27ab_low_detail.png),url(https://cdn.prod.website-files.com/63c26552be9ea599a179aeed/657ee90e42a3aaa035289a4c_top_detial.png);
        background-position: 100% 100%,0 100%,100% 0,100%,0 0;
        background-repeat: no-repeat,no-repeat,no-repeat,no-repeat,repeat;
        background-size: contain,contain,cover,cover,auto;
        flex-direction: column;
        align-items: flex-start;
        padding: 0;
    }

    .red_card.horizonal.team {
        background-image: url(https://cdn.prod.website-files.com/63c2655…/657eea8…_Shadow.png), url(https://cdn.prod.website-files.com/63c2655…/657ee89…_low_detail.png), url(https://cdn.prod.website-files.com/63c2655…/657ee90…_top_detial.png);
        background-position: 100% 100%, 0 100%, 100% 0, 100% 0, 0 0;
        background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, repeat;
        background-size: contain, contain, cover, contain, auto;
        flex-direction: column;
        align-items: flex-start;
        padding: 0;
    }

    .red_card.horizonal.vertical {
        flex: 0 auto;
    }

    .red_card.horizonal.roadmap {
        padding: 16px;
    }
    .graphic.mobile {
        order: -1;
        display: block;
    }
    .benefits_info-card {
        max-width: none;
        padding-bottom: 24px;
        padding-left: 24px;
        padding-right: 24px;
    }

    .benefits_info-card.large {
        max-width: none;
    }
    .benefits_header {
        font-size: 22px;
        line-height: 28px;
    }
}


@media screen and (max-width: 479px) {
    ._23_container.relative {
        z-index: 1;
        padding-left: 16px;
        padding-right: 16px;
    }
}

.no-code-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1280px;
    margin: 20px auto;
    padding: 20px;
}

.portfolio_grid {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    max-width: 1280px;
    margin: 20px auto;
    padding: 20px;
    display: grid;
}

.portfolio_item{
    background-color: #1d1e217a;
    border: 1px solid #3c3c3c;
    border-radius: 16px;
    flex-direction: column;
    justify-content: flex-start;
    padding: 8px;
    display: flex;
    box-shadow: 0 0 0 6px #00000014,0 2px 16px -4px #0000000a;
}

.roadmap_item {
    background-color: #1d1e217a;
    border: 1px solid #3c3c3c;
    border-radius: 16px;
    flex-direction: column;
    justify-content: flex-start;
    padding: 8px;
    display: flex;
    box-shadow: 0 0 0 6px #00000014,0 2px 16px -4px #0000000a;
}

.port_link {
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    display: flex;
}

.port_img {
    object-fit: cover;
    object-position: 50% 4%;
    border-radius: 8px;
    width: 100%;
    height: 267px;
}

.col.gap__8 {
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    flex-direction: column;
    align-items: flex-start;
    display: flex;
}

.col.gap__8.center {
    align-items: center;
}

.port_tag {
    color: #e1e4ed;
    background-color: #2f3033;
    border-radius: 4px;
    padding: 4px 12px;
    font-size: 14px;
}

.cta.port {
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    box-shadow: none;
    background-image: none;
    border-top-style: none;
    flex: none;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    padding: 4px 0;
    font-size: 16px;
    transition: all .2s;
}

.cta.port:hover {
    grid-column-gap: 12px;
    grid-row-gap: 12px;
}

.heading-3{
    font-family: 'aquire bold', sans-serif;
    font-size: 25px;
    color: #faf7e1;
    line-height: 140%;
}

a {
    text-decoration: none;
}

.port_text {
    font-family: 'inter', sans-serif;
    color: aliceblue;
    line-height: 140%;
}

.port_info {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    padding: 24px 16px 16px;
    display: flex;
}

.row.gap__8 {
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    flex-wrap: wrap;
    display: flex;
}

.roadmap-container{
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    grid-template-rows: auto auto;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-columns: 1fr;
    max-width: 1380px;
    margin: 20px auto;
    padding: 20px;
    display: grid;
}

.product-container{
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
}

.hero-2 {
    margin-bottom: 20px; 
}

.progress-position {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto; 
}

.progress {
    background: rgba(255, 255, 255, 0.1);
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    padding: 0 5px;
    display: flex;
    height: 40px;
    width: 500px;
}

.progress-value {
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background: #f5c645;
    height: 30px;
    width: 0;
    transition: width 4.5s ease;
}

@keyframes load {
    0% { width: 0; }
    100% { width: 99%; }
}

.section {
    border: 1px solid #3c3c3c;
    flex: 1 1 calc(50% - 20px);
    background-color: #1d1e21;
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0 0 0 6px #00000014, 0 2px 16px -4px #0000000a;
}

.content h1 {
    font-family: 'aquire bold', sans-serif;
    color: #faf7e1;
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.features {
    list-style: none;
    padding: 0;
}

.features li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 1.1rem;
    font-family: 'inter', sans-serif;
    color: aliceblue;
}

.features li img {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

.special{
    font-size: 16px;
}

.yellow-wrapper a{
    text-decoration: none;
}

.yellow-wrapper {
    margin: 0;
    background-color: #e2b434;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    overflow: hidden;
    margin-top: 350px;
}

.yellow-wrapper h2 {
    font-size: 70px;
    font-family: 'aquire bold', sans-serif;
    font-weight: bolder;
    color: #000;
    line-height: 1.4;
    text-align: left;
}

.wave-right-pattern {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
    background: repeating-linear-gradient(
        150deg,
        transparent 0,
        transparent 5px,
        rgba(0, 0, 0, 0.05) 10px,
        rgba(0, 0, 0, 0.05) 20px
    );
    clip-path: polygon(100% 0, 80% 100%, 100% 100%);
}

.wave-left-pattern {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 50%;
    background: repeating-linear-gradient(
        210deg,
        transparent 0,
        transparent 5px,
        rgba(0, 0, 0, 0.05) 10px,
        rgba(0, 0, 0, 0.05) 20px);
    clip-path: polygon(0 100%, 20% 0, 0 0);
}

/* Pricing Table*/

.container-pricing{
    background-color: #1a1a1a;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center;
    margin: 0 auto;
    margin-top: 500px;
    border-radius: 24px;
    padding-bottom: 30px;
    max-width: 1280px;
    border: 0.5px solid rgba(255, 255, 255, 0.2);
}

.table{
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 48px;
    padding-right: 48px;
}

.pricing_wrap{
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    flex-direction: column;
    margin-top: 40px;
    display: flex;
}

.carte{
    border-radius: 16px;
    flex: 1;
    box-shadow: 0 0 0 6px #00000014, 0 2px 16px -4px #0000000a;
}

.pricing-cards{
    grid-column-gap: 24px;
    grid-row-gap: 25px;
    max-width: 1280px;
    border-bottom: 1px solid #3c3c3c;
    justify-content: center;
    align-items: stretch;
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    top: 0;
}

.pack-featured {
    letter-spacing: .36px;
    text-transform: uppercase;
    background-color: #f4c644;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 40px;
    margin-bottom: -16px;
    padding-top: 3px;
    font-size: 12px;    
    font-weight: 900;
    line-height: 140%;
    display: flex;
}

.pricing.card {
    max-width: 400px;
    height: auto;
}

.text-pack{
    font-family: 'inter', sans-serif;
    font-size: 14px;
    color: #333333;
}

.pack-details-cta {
    background-color: #131213;
    border-radius: 16px;
    flex-direction: column;
    align-items: flex-start;
    display: flex;
    padding: 24px;
    grid-column-gap: 24px;
    grid-row-gap: 5px;
    flex: 1;
}

.align.price.text {
    flex-wrap: wrap;
    align-items: flex-end;
}

.align.price{
    grid-row-gap: 8px;
    flex-wrap: wrap;
    display: flex;
}

.price-text {
    font-family: 'inter',sans-serif;
    color: #e0b53f;
    font-size: 48px;
    font-weight: 700;
    line-height: 55px;
    margin-bottom: 30px;
}

.price-small{
    font-family: 'inter',sans-serif;
    color: #faf7e1;
    font-size: 18px;
    line-height: 33px;
    margin-bottom: 30px;
}

.bta{
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 18px;
    background: #faf7e1;
    color: black !important;
    border-radius: 1000px;
    padding: 12px 24px;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    text-decoration: none;
    align-items: center;
    display: flex;
}

.bta.smaller{
    padding: 8px 18px;
    font-size: 16px;
}


.bta.smaller:hover{
    padding-right: 20px;
    background-color: #f5c645;
}

.bta.smaller svg {
    width: 0;
    opacity: 0;
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.bta.smaller:hover svg{
    width: 12px;
    opacity: 1;
    transform: none;
}

.table-item.first {
    border-top-style: none;
}

.group_item.left {
    justify-content: space-between;
    font-size: 18px;
    font-family: 'inter', sans-serif;
    color: #faf7e1;
    font-weight: 500;
}

.pricing_table {
    flex-direction: column;
    align-items: stretch;
    display: flex;
}

.table-item {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    border-top: 1px solid #3c3c3c;
    flex-direction: row;
    padding: 16px 16px 16px 0;
    display: flex;
}

.table-item.first {
    border-top-style: none;
}

.table-item.first.mobile {
    display: none;
}

.group_item {
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    display: flex;
}

.price_text-div {
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    display: flex;
    color: #faf7e1;
    font-family: 'inter', sans-serif;
}

/* End of Pricing Table */

.faq-container {
    width: 100%;
    max-width: 48rem;
    margin: 0 auto;
    padding: 1.5rem;
}

.faq-items {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.faq-item {
    border: 1px solid #2d2d32;
    border-radius: 0.5rem;
    overflow: hidden;
    transition: box-shadow 0.2s;
    background-color: #19191c;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}

.faq-item:hover {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.2), 0 2px 4px -1px rgba(0, 0, 0, 0.15);
}

.faq-question {
    width: 100%;
    padding: 1rem 1.5rem;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #19191c;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s;
}

.faq-question:hover {
    background-color: #222226;
}

.question-text {
  font-family: 'audiowide', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: aliceblue;
  letter-spacing: 1.5px;
}

.chevron-icon {
    width: 24px;
    height: 24px;
    stroke: #808088;
    stroke-width: 2;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    transition: transform 0.2s;
}

.faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #222226;
}

.faq-answer-content {
    font-family: 'Audiowide', sans-serif;
    padding: 1.5rem;
    color: #b3b3b8;
}

.faq-item.active .chevron-icon {
    transform: rotate(180deg);
}

.faq-item.active .faq-answer {
    max-height: 200px;
}

.blog-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 25px;
    max-width: 1180px;
    margin: 0 auto;
}

.blog-card {
    background-color: #222;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s;
    text-decoration: none;
    color: inherit;
}


.blog-card:hover {
    transform: translateY(-5px);
}

.blog-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.blog-content {
    padding: 15px;
}

.blog-tag {
    background-color: #555;
    font-family: 'inter', sans-serif;
    color: #ddd;
    font-size: 12px;
    font-weight: bold;
    padding: 3px 8px;
    border-radius: 4px;
    display: inline-block;
    margin-bottom: 10px;
}

.blog-title {
    font-size: 18px;
    margin: 10px 0;
    color: #fff;
    font-family: 'inter', sans-serif;
}

.blog-meta {
    font-size: 13px;
    color: #888;
    margin-bottom: 15px;
    font-family: 'inter', sans-serif;
}

.blog-excerpt {
    font-size: 14px;
    color: #ccc;
    line-height: 1.5;
    font-family: 'inter', sans-serif;
}

.pos{
    padding-top: 120px;
    padding-bottom: 120px;
}
  
.cta.yellow{
    background-color: #faf7e1;
    border-radius: 32px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1180px;
    padding: 80px 64px;
    display: flex;
    margin: 0 auto;
}

.cta.yellow h4{
    font-family: 'aquire bold', sans-serif;
    font-size: 40px;
    color: black;
    text-align: center;
    letter-spacing: -1px;
    margin-bottom: 40px;
    line-height: 60px;
}

.last.cta{
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    background: black;
    color: #faf7e1 !important;
    border-radius: 1000px;
    padding: 14px 28px;
    text-decoration: none;
}

@media screen and (max-width: 1050px){
    .price-text.contact-us{
        font-size: 41px;
    }
}

@media screen and (max-width: 991px){
    .hero_1{
        font-size: 40px;
    }
    .hero_2{
        font-size: 19px;
    }
    .hero-2 h2{
        font-size: 38px;
    }
    .hero-2 h3 {
        font-size: 20px;
    }
    .all-card-container, .two-cards-container{
        flex-wrap: wrap;
    }
    .card.content.horizontal{
        flex: 0 auto;
        width: 100%;
    }
    .portfolio_grid {
        grid-template-columns: 1fr;
    }
    .roadmap-container {
        grid-template-columns: none;
    }
    .glow-effect{
        left: 33.5%;
        width: 240px;
        height: 250px;
    }
    .blog-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .yellow-wrapper h2{
        font-size: 45px;
    }
    .cta.yellow h4 {
        font-size: 32px;
        line-height: 36px;
    }
    .last.cta{
        font-size: 16px;
        padding: 14px 24px;
    }
    .table {
        padding-left: 16px;
        padding-right: 16px;
    }
    .pricing-cards{
        grid-column-gap: 16px;
        grid-row-gap: 16px;
    }
    .table-item,.table-item.first {
        align-items: flex-end;
    }
}

@media screen and (max-width: 897px) {
    .price-text.contact-us {
        font-size: 44px;
    }
}

@media screen and (max-width: 767px){
    .hero_1{
        font-size: 32px;
    }
    .hero_2{
        font-size: 16px;
    }
    .card{
        flex: 0 auto;
    }
    .hero-2 h2{
        font-size: 35px;
    }
    .hero-2 h3{
        font-size: 20px;
    }
    .glow-effect{
        left: 30%;
        width: 220px;
        height: 200px;
    }
    .cta.specs{
        padding: 7px 16px;
        font-size: 16px;
    }
    .cta.empty{
        padding: 7px 16px;
        font-size: 16px;
    }
    .cta.port {
        flex: none;
    }
    .no-code-container {
        flex-direction: column; 
    }
    .section {
        flex: 1 1 100%; 
        max-width: 100%;
    }
    .content h1 {
        font-size: 1.5rem;
    }
    .features li {
        font-size: 0.9rem;
    }
    .ctas.dribble{
        padding: 5px 15px;
    }
    .question-text{
        font-size: 15px;
    }
    .faq-answer-content{
        font-size: 13px;
    }
    .blog-container {
        grid-template-columns: 1fr;
    }
    .yellow-wrapper h2{
        font-size: 35px;
    }
    .cta.yellow h4 {
        font-size: 29px;
        line-height: 36px;
    }
    .last.cta{
        font-size: 14px;
        padding: 12px 22px;
    }
    .pricing-cards{
        grid-row-gap: 30px;
        padding-top: 24px;
        padding-bottom: 24px;
    }
    .group_item.left {
        grid-column-gap: 16px;
        grid-row-gap: 16px;
        flex-direction: column;
        align-items: flex-start;
    }
    .table-item, .table-item.first {
        align-items: flex-end;
    }
}

@media screen and (max-width: 670px){
    .pricing-cards {
        grid-column-gap: 8px;
        grid-row-gap: 15px;
        flex-wrap: wrap;
        position: static;
    }
}

@media screen and (max-width: 440px){
    .hero_1{
        font-size: 23px;
        line-height: 30px;
    }
    .hero_2{
        font-size: 13px;
        letter-spacing: -0px;
    }
    .hero-2 h2{
        font-size: 25px;
    }
    .hero-2 h3 {
        font-size: 15px;
    }
    .glow-effect{
        left: 20%;
        width: 250px;
        height: 160px;
    }
    .cta.specs{
        padding: 6px 15px;
        font-size: 15px;
    }
    .cta.empty{
        padding: 6px 15px;
        font-size: 15px;
    }
    .video-embed {
        z-index: 3;
        border-radius: 8px;
        height: 400px;
        overflow: hidden;
    }
    .content h1 {
        font-size: 1.2rem;
        letter-spacing: -0.6px;
    }
    .features li {
        font-size: 0.8rem;
    }
    .progress{
        width: 300px;
    }
    .yellow-wrapper h2{
        font-size: 27px;
        font-weight: bolder;
    }
    .cta.yellow h4 {
        font-size: 24px;
        line-height: 36px;
    }
    .last.cta{
        font-size: 13px;
        padding: 10px 20px;
    }
    .group_item.left {
        flex-flow: column wrap;
        align-items: flex-start;
        font-size: 14px;
        letter-spacing: -0.26px;
    }
    .table-item {
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        align-items: flex-end;
    }
    .table-item.first {
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
    .smol{
        letter-spacing: -0.5;
    }
    div.table-item.first.mobile {
        border-bottom: 1px solid #3c3c3c;
        color: #faf7e1;
        font-family: 'inter', sans-serif;
        font-size: 14px;
        font-weight: 500;
        display: flex;
        top: 0;
        bottom: 0;
    }
    .pricing_wrap {
        max-width: 100%
    }
    .pricing_check {
        align-self: flex-start;
        width: 24px;
    }
    .price_text-div{
        font-size: 14px;
    }
    .bta.smaller{
        padding: 6px 15px;
        font-size: 15px;
    }
}
