.container-pricing{
    background-color: #1a1a1a;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center;
    margin: 0 auto;
    margin-top: 500px;
    border-radius: 24px;
    padding-bottom: 200px;
    max-width: 1280px;
    border: 0.5px solid rgba(255, 255, 255, 0.2);
}

.table{
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 48px;
    padding-right: 48px;
}

.pricing_wrap{
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    flex-direction: column;
    margin-top: 40px;
    display: flex;
}

.carte{
    border-radius: 16px;
    flex: 1;
    box-shadow: 0 0 0 6px #00000014, 0 2px 16px -4px #0000000a;
}

.pricing-cards{
    grid-column-gap: 24px;
    grid-row-gap: 25px;
    max-width: 1280px;
    border-bottom: 1px solid #3c3c3c;
    justify-content: center;
    align-items: stretch;
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    position: sticky;
    top: 0;
}

.pack-featured {
    letter-spacing: .36px;
    text-transform: uppercase;
    background-color: #f4c644;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 40px;
    margin-bottom: -16px;
    padding-top: 3px;
    font-size: 12px;    
    font-weight: 900;
    line-height: 140%;
    display: flex;
}

.pricing.card {
    max-width: 400px;
    height: auto;
}

.text-pack{
    font-family: 'inter', sans-serif;
    font-size: 14px;
    color: #333333;
}

.pack-details-cta {
    background-color: #131213;
    border-radius: 16px;
    flex-direction: column;
    align-items: flex-start;
    display: flex;
    padding: 24px;
    grid-column-gap: 24px;
    grid-row-gap: 5px;
    flex: 1;
}


.align.price.text {
    flex-wrap: wrap;
    align-items: flex-end;
}

.align.price{
    grid-row-gap: 8px;
    flex-wrap: wrap;
    display: flex;
}

.price-text {
    font-family: 'inter',sans-serif;
    color: #e0b53f;
    font-size: 48px;
    font-weight: 700;
    line-height: 55px;
    margin-bottom: 30px;
}

.price-small{
    font-family: 'inter',sans-serif;
    color: #faf7e1;
    font-size: 18px;
    line-height: 33px;
    margin-bottom: 30px;
}

.bta{
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 18px;
    background: #faf7e1;
    color: black !important;
    border-radius: 1000px;
    padding: 12px 24px;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    text-decoration: none;
    align-items: center;
    display: flex;
}


.bta.smaller{
    padding: 8px 18px;
    font-size: 16px;
}


.bta.smaller:hover{
    padding-right: 20px;
    background-color: #f5c645;
}

.bta.smaller svg {
    width: 0;
    opacity: 0;
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.bta.smaller:hover svg{
    width: 12px;
    opacity: 1;
    transform: none;
}



@media screen and (max-width: 991px){
    .table {
        padding-left: 16px;
        padding-right: 16px;
    }
    .pricing-cards{
        grid-column-gap: 16px;
        grid-row-gap: 16px;
    }
}

@media screen and (max-width: 767px){
    .pricing-cards{
        padding-top: 24px;
        padding-bottom: 24px;
    }
}
