.heros{
    flex-direction: column;
    max-width: 840px;
    display: flex;
    position: relative;
}

.body-text {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
}

.hero_1{
    font-family: 'aquire bold', sans-serif;
    color: white;
    flex: 0 auto;
    width: auto;
    font-size: 35px;
    margin-top: 100px;
    max-width: 990px;
    text-align: center;
    line-height: 62px;
    letter-spacing: -1px;
    opacity: 0;
    transform: translateY(30px);
    animation: fadeInSlideUp 1s ease-in-out forwards;
}

@keyframes fadeInSlideUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.blog-image{
    border-radius: 20px;
}

.blog-image-place{
    max-width: 1296px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
}

.blog-position{
    justify-content: center;
    align-items: flex-start;
    display: flex;
    margin-right: auto;
    margin-left: 50px;
    position: relative;
}

.blog-content {
    font-family: 'inter', sans-serif;
    color: #ebedf2;
    display: flex;
    position: relative;
    flex-direction: column;
    max-width: 700px;
    align-items: flex-start;
}

h2{
    font-size: 32px;
}
p, h2{
    flex: 0 auto;
    width: auto;
}

@media screen and (max-width: 991px){
    .hero_1{
        font-size: 30px;
        letter-spacing: normal;
    }
    h2{
        font-size: 28px;
    }
    p{
        font-size: 16px;
    }
    .blog-position{
        margin-right: 120px;
        margin-left: 120px;
    }
}

@media screen and (max-width: 767px){
    .hero_1{
        font-size: 20px;
        letter-spacing: normal;
    }
    h2{
        font-size: 18px;
    }
    p{
        font-size: 13px;
    }
    .blog-position{
        margin-right: 110px;
        margin-left: 120px;
    }
}

@media screen and (max-width: 480px){
    h2{
        font-size: 18px;
    }
    p{
        font-size: 13px;
    }
    .blog-position{
        margin-right: 70px;
        margin-left: 50px;
    }
}

@media screen and (max-width: 440px){
    .hero_1{
        font-size: 15px;
        line-height: 35px;
        letter-spacing: normal;
    }
    h2{
        font-size: 20px;
    }
    p{
        font-size: 14px;
    }
    .blog-position{
        margin-right: 40px;
        margin-left: 70px;
    }
}
