/* Aquire */

@font-face {
    font-family: 'Aquire';
    src: url('AquireRegular.woff2') format('woff2'),
        url('AquireRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aquire';
    src: url('AquireLight.woff2') format('woff2'),
        url('AquireLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aquire';
    src: url('AquireBold.woff2') format('woff2'),
        url('AquireBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/* audiowide */

@font-face {
    font-family: 'Audiowide';
    src: url('Audiowide-Regular.woff2') format('woff2'),
        url('Audiowide-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
