/* Aquire */

@font-face {
    font-family: 'Aquire';
    src: url('fonts/Aquire-BW0ox.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Aquire Bold';
    src: url('fonts/AquireBold-8Ma60.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Aquire Bolder';
    src: url('fonts/AquireLight-YzE0o.otf') format('opentype');
    font-weight: bolder;
    font-style: normal;
}

/* audiowide */

@font-face {
    font-family: 'Audiowide';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/Audiowide-Regular.ttf') format('woff2');
}
